<ion-header>
  <ion-navbar>
    <ion-title>
      Gallery Demo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="gallery-container">
    <a [href]="file.offline ? file.data : file.path" target="_blank" *ngFor="let file of items | async">
      <div class="image" [ngStyle]="{'background-image':'url('+(file.offline ? file.data : file.thumbnail) +')'}"  >
          <ion-spinner class="image-spinner"  *ngIf="file.offline"></ion-spinner>
      </div>
    </a>
  </div>
</ion-content>

<ion-footer>
  <button ion-button full tappable (click)="takeAnother()">Take Picture!</button>
</ion-footer>